.container {
  display: flex;
}
.main {
  display: flex;
}

/* header */
.hrHeader {
  width: 75%;
}
/*soccial media */
.iconSocial {
  color: black;
}
.socialContainer {
  padding-top: 10px;
  display: flex;
  flex-direction: row;
}
a.social {
  margin: 0 1rem;
  transition: transform 250ms;
  display: inline-block;
}
a.social:hover {
  transform: translateY(-2px);
}
a.socialLeft {
  margin-right: 1rem;
  transition: transform 250ms;
  display: inline-block;
}
a.socialLeft:hover {
  transform: translateY(-2px);
}

/* NavBar */
.navBarContainer {
  display: flex;
  padding: 1rem 0.4rem;
  box-shadow: 0 2px 2px -2px rgba(0, 0, 0, 0.4);
}

.navbarName {
  padding-right: 0.5rem;
  /* figure out why padding is not working */
}
.navbarTitle {
  display: flex;
}

.navBarRight {
  display: flex;
}

.listItem {
  list-style-type: none;
  margin: 0 0.2rem;
}

.ul {
  list-style-type: none;
}

/* project image container*/
.ProjectCardContainer {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  align-items: center;
  margin: 1% 3%;
}

.ProjectCard {
  padding: 1% 2.5%;
  flex: 50%;
  max-width: 50%;
}
/* @media screen and (max-width: 900px) {
  .ProjectCard {
    -ms-flex: 100%;
    flex: 100%;
    max-width: 100%;
    padding: 2.5% 2.5%;
  }
} */

@font-face {
  font-family: 'Sans Serif';
  src: url('../src/fonts/thin.woff2') format('woff2');
}