.container {
  flex: 1;
}
.main {
  flex: 1;
}

/* header */
.hrHeader {
  width: 75%;
}
/*soccial media */
.iconSocial {
  color: black;
}
.socialContainer {
  padding-top: 10px;
  display: flex;
  flex-direction: row;
}
a.social {
  margin: 0 1rem;
  transition: transform 250ms;
  display: inline-block;
}
a.social:hover {
  transform: translateY(-2px);
}
a.socialLeft {
  margin-right: 1rem;
  transition: transform 250ms;
  display: inline-block;
}
a.socialLeft:hover {
  transform: translateY(-2px);
}

/* NavBar */
.navBarContainer {
  display: flex;
  color: green;
  margin: 0 5%;
}

.navBarRight {
  color: blue;
  display: flex;
  padding: 10;
}

.listItem {
  padding: 0 40px;
}

.ul {
  list-style-type: none;
}
